body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background: #FFFFFF
}


h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}


ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.menu,
.menu-contact,
.team-cards,
.presents-cards,
.top-advantages,
.web-icons,
.mobile-menu,
ul {
    list-style-type: none;
}

.container{
max-width: 320px;
padding-left: 16px;
padding-right: 16px;
margin-left: auto;
margin-right: auto;
}

.open-menu-btn{
fill: #2F2F37;
}

.open-menu{
background-color: transparent;
border: none;
}

.menu,
.menu-contact{
    display: none;
}

.head-page-container{
    display: flex;
    align-items: center;
justify-content: space-between;
padding-top: 18px;
height: 57px;
padding-bottom: 18px;


}

.logo-link {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    
}
.logo-title {
    color: #2e2f42;
    line-height: 1.17;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}
.mobile-links{
    position: relative;
    margin-top: 72px;
    margin-bottom: 168px;
}

.mobile-close-btn{
    position: absolute;   
    top: 24px;
    right: 24px;
    width:24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

           
}
.lets-close{
stroke-width: 1px;
stroke: #2E2F42;
}

.mobile-menu-link{
color: #2E2F42;
font-size: 36px;
font-weight: 700;
line-height: 1.12;
letter-spacing: 0.02em;
text-transform: capitalize;
text-decoration: none;
}

.mobile-menu{
position: fixed;
padding-left: 16px;
padding-right: 16px;
top: 0;
left: 0;
width:100%;
height:100%;
z-index: 9999;
background-color:#FFFFFF ;
transform: translatex(100%);
}

/* .mobile-menu.is-open{
    transform: translatex(0%);
   } */

.other-styles{
color: #404BBF;
}
.mobile-menu-contact-link{
    text-decoration: none;
    color: #434455;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-style: normal;

}
.mobile-menu-contact-item{
    display: inline-flex;
    gap: 24px; 
}


.mobile-icons-list {
    fill: #f4f4fd;
}

.mobile-app-icons{
width: 40px;
height: 40px;
border-radius: 50%;
background-color: #4D5AE5;
display: flex;
align-items: center;
justify-content: center;
}

.mobile-web-icons{
    display: flex;
    gap: 40px;
    align-items: center;
        justify-content: center;
}

.mobile-contacts{
    margin-bottom: 48px;
}
.main-page {

    background: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/adapt/mob/Dark-bg-mob.jpg);
    background-size: cover;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    min-width: 320px;
    height: 432px;

}

.main-text {
    color: var(--WHITE, #FFF);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
    padding-top: 72px;

}

.main-button {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: #4D5AE5;
    min-width: 169px;
    height: 56px;
    display: block;
    border: none;
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;

}
.menu-advantages-icons {
    display: none;
}
.menu-advantages-item{
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.text-menu-advantages{
    color:  #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.advantages-container{
    padding-top: 96px;
    padding-bottom: 96px;
   min-height: 7216px;

}

.top-advantages{
    display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 72px;
}
.menu-advantages{
    gap: 8px;
}






















@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

