body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background: #FFFFFF
}


h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}


ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.menu,
.menu-contact,
.team-cards,
.presents-cards,
.top-advantages,
.web-icons,
.mobile-menu,
ul {
    list-style-type: none;
}

.container{
max-width: 320px;
padding-left: 16px;
padding-right: 16px;
margin-left: auto;
margin-right: auto;
}

.open-menu-btn{
fill: #2F2F37;
}

.open-menu{
background-color: transparent;
border: none;
}

.menu,
.menu-contact{
    display: none;
}

.head-page-container{
    display: flex;
    align-items: center;
justify-content: space-between;
padding-top: 18px;
height: 57px;
padding-bottom: 18px;


}

.logo-link {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    
}
.logo-title {
    color: #2e2f42;
    line-height: 1.17;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}
.mobile-links{
    position: relative;
    margin-top: 72px;
    margin-bottom: 168px;
}


.mobile-close-btn{
    position: absolute;   
    top: 24px;
    right: 24px;
    width:24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    background-color: transparent;
 

           
}
.lets-close{
stroke-width: 1px;
stroke: #2E2F42;
}
.mobile-menu-item{
    margin-bottom: 40px;
}
.mobile-nav-menu{
margin-bottom: 128px;
}

.mobile-menu-link{
color: #2E2F42;
font-size: 36px;
font-weight: 700;
line-height: 1.12;
letter-spacing: 0.02em;
text-transform: capitalize;
text-decoration: none;
}

.mobile-menu{
position: fixed;
padding-left: 16px;
padding-right: 16px;
top: 0;
left: 0;
width:100%;
height:100%;
z-index: 9999;
background-color:#FFFFFF ;
transform: translatex(100%);
min-width: 320px;
min-height: 640px;
}

 .mobile-menu.is-open{
    transform: translatex(0%);
   }  

.other-styles{
color: #404BBF;
}
.mobile-menu-contact-link{
    text-decoration: none;
    color: #434455;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-style: normal;
    margin-bottom: 24px;

}
.mobile-menu-contact-item{
    display: inline-flex;
    gap: 24px; 
}


.mobile-icons-list {
    fill: #f4f4fd;
}
.mobile-icon-links{
    margin-top: 24px;
}

.mobile-app-icons{
width: 40px;
height: 40px;
border-radius: 50%;
background-color: #4D5AE5;
display: flex;
align-items: center;
justify-content: center;
line-height: 0;
}

.mobile-web-icons{
    display: flex;
    gap: 40px;
    align-items: center;
        justify-content: center;
}

.mobile-contacts{
    margin-bottom: 48px;
}
.main-page {

    background: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/adapt/mob/Dark-bg-mob.jpg);
    background-size: cover;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    min-width: 320px;
    height: 432px;

}
@media screen and (min-resolution:192dpi){
    .main-page{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
                url(../images/adapt/mob/Dark-bg-mob@2x.jpg);
      
    }
}


.main-text {
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
    padding-top: 72px;

}

.main-button {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: #4D5AE5;
    min-width: 169px;
    height: 56px;
    display: block;
    border: none;
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;

}
.menu-advantages-icons {
    display: none;
}
.menu-advantages-item{
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.menu-advantages{
    margin-bottom: 72px;
}
.text-menu-advantages{
    color:  #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.advantages-container{
    padding-top: 96px;
    padding-bottom: 24px;
   /* max-height: 7216px; */

}

   

.advantages{
    background: #FFF;
}
.team-list-container{
    padding-top: 96px;
    padding-bottom: 24px;
}
.team-list-item{
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.team-list{
background: var(--CLOUD, #F4F4FD);
}
.team-names {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
    margin-bottom: 8px;
}
.job-title {
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}
.prof-container{
    margin-top: 32px;
}
.web-icons {
    display: flex;
    justify-content: center;
    gap: 24px;
    stroke: #F4F4FD;
    margin-top: 8px;
}

.app-icons {
    width: 40px;
    height: 40px;
}

.full-app-icons {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.icons-list{
    fill: #F4F4FD;
}

.examples-container{
padding-top: 96px;
padding-bottom: 48px;
}

.top-text{
    color:#2E2F42;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
   
}
.overlay-text{
    display: none;
}
.presents-cards-item{
    margin-bottom: 48px;
    border: 1px solid  #F4F4FD;
    background:  #FFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.list-category{
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 32px;
}
.job-title-top{
    margin-bottom: 72px;
    border-radius: 0px 0px 4px 4px;
    width: 264px;
    padding-bottom: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.last-page{
    background: #2E2F42;
}
.last-page-container{
    padding-top: 98px;
    background: #2E2F42;
    width: 320px;
    height: 664px;
    flex-shrink: 0;
    text-align: center;
  


}

.logofin {
    color: #F4F4FD;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03;

}

.logotype {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}
.last-page-text{
    color: #F4F4FD;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 17px;
    margin-bottom: 72px;
}
.footer-text{
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
.footer-list{
 display: flex;
 gap: 16px;
 list-style-type: none;
 align-items: center;
 justify-content: center;
}
.send-icon{
    fill: #FFFFFF;
    margin-left: 16px;
}
.last-page-links {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.last-links{
    fill: #F4F4FD;
}
.footer-links{
width: 40px;
    height: 40px;
}
.subscribe-text{
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 72px;
    margin-bottom: 16px;
}
.subscribe-email {
    width: 264px;
    height: 40px;
    background: #2E2F42;
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-top: 8px;
    padding-left: 16px;
    border: 1px solid #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: transparent;
    opacity: 0.3;
}
.subscribe-btn {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background: #4D5AE5;
    min-width: 165px;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin-bottom: 96px;
    margin-top: 16px;
    
}
.last-page-container{
  margin: auto;
}
.mobile-styles-category{
    margin-bottom: 32px;
}
.presents-cards-text{
    margin-bottom: 8px;
}

/* backdrop */
.backdrop.is-open {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    background-color: rgba(46, 47, 66, 0.40);
    padding: 72px 24px 24px 24px;
}
 .backdrop.is-open{
opacity: 0;
visibility: hidden;
pointer-events: none;
}  
.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    min-width: 288px;
    min-height: 623px;
    background-color: #FCFCFC;
    transform: translate(-50%, -50%) scale(1);
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    
}
.user-name-wrapper {
    width: 256px;
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}
.backdrop-icons {
    stroke: #2E2F42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}
.comment {

    color: rgba(46, 47, 66, 0.40);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    width: 256px;
    height: 138px;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    outline: transparent;
    resize: none;
}
.backdrop-text {
    color: #2E2F42;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
.user-info {
    width: 256px;
    height: 40px;
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    outline: transparent;
}
.backdrop-box {
    /* position: absolute; */
width: 256px;


}

.checkbox {
    display: block;
    width: 100%;
    margin: auto;
    position: relative;
    margin-bottom: 24px;
}
.checkbox-text {
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}
.other-style-text {
    color: #4D5AE5;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    margin-left: 4px;

}
.checkbox-agree {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    align-items: center;
    justify-content: center;
    fill: transparent;
    border-radius: 2px;
    align-content: start;
    margin-right: 8px;
    display: inline-flex;

}
.backdrop-btn {
    border-radius: 4px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin-bottom: 24px;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    display: block;
    border: none;
    margin: auto;
    margin-top: 24px;
}
.user-name-wrapper {
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
    display: block;
}
.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    stroke: rgba(0, 0, 0, 0.10);
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    background-color: #e7e9fc;
}
.close-btn-icon {
    stroke: #2E2F42;
}
.textarea {
    margin-bottom: 16px;
}
.levels {
    position: relative;
    margin-bottom: 8px;
    width: 100%;
}
.box {
    position: relative;
}

.privacy-policy-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}






/* tablet */

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    .open-menu,
    .mobile-menu{
        display: none;
    }
    .menu {
    font-family: "Raleway", sans-serif;
    display: flex;
    box-sizing: border-box;
    gap: 40px;
    padding-left: 0;
    }
    .head-navigation-container {
        display: flex;
        align-items: center;
        }
    
    .head-page-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 768px;
    height: 72px;
    margin-right: 0;
    margin-left: 0;
    }
        
    .menu-contact{
     display: block;
    }
    .menu{
    margin-left: 120px;
    }
    .menu-contact-link {
    display: flex;
    color: #434455;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    }
    .menu-link{
    color: #2E2F42;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }
    .menu-link-first{
     color: #404BBF;
    }
    .menu-link-first::after {
    content: "";
    width: 48px;
    height: 4px;
    border-radius: 2px;
    display: block;
    position: absolute;
    bottom: -1px; 
    left: 0;
    background-color: #404BBF;
    margin-bottom: -20px;
    }
    .menu-link-first {
    position: relative;
    color: #404bbf;
    }
    .menu-link,
    .menu-contact-link{
     text-decoration: none;
    }

    .main-text{
    color: #FFF;
    display: block;
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 36px; 
    }
    .main-button{
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
     font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    }

    .main-page{
    min-width: 768px;
    min-height: 436px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/adapt/tablet/Dark-bg.jpg);   
    }
    
    /* section2 advantages */
    .advantages-container{
        width: 100%;
        display: flex;
        padding-bottom: 96px;
    }
    .menu-advantages{
    display: flex;
    width: 356px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin: 0;
    }
    
    .top-advantages{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
        width: calc((100%-24px)/2);
    }
    .menu-advantages-item{
        color:#2E2F42;
        font-family: Roboto;
         font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.12;
        letter-spacing: 0.02em;
        text-transform: capitalize;
    }
    .text-menu-advantages{
    color:#434455; 
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height:1.5;
    letter-spacing: 0.02em;
    }


@media screen and (min-resolution:192dpi),
    screen and (min-resolution:2dppx),
    screen and (min-device-pixel-ratio:2){
    .main-page{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
         rgba(46, 47, 66, 0.7)),
        url(../images/adapt/tablet/Dark-bg@2x.jpg);
        }
    }  
   /* section3 team-list */
   
    .team-cards{
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 64px;
        align-items: center;
        justify-content: center;
    }
    .job-title-top{
        width: calc((100%-24px)/2);
        border-radius: 0px 0px 4px 4px;
        background: #FFF;
        margin-bottom: 0;
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    }
    .web-icons{
        padding-bottom: 32px;
    }
    .team-list-container{
        padding-bottom: 96px;
    }

    /* section4 examples */
 .presents-cards{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: center;
    padding-bottom: 48px;
    width: 768px;
 }

 .presents-cards-item {
  
 width: calc((100%-24px)/2);
 margin-bottom: 0;

 }
 /* footer */
 .last-page-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: start;
    align-content: center;
    justify-content: center;
    /* height: 456px; */
 
 }

 .last-page-text{
    width: 264px;
 }
 .footer-logo{
    display: block;
    margin-right: 24px;
    margin-bottom: 72px;
    margin-top: 97px;
 }
 .footer-icons{
    margin-top: 97px;
 }
 .footer-label{
    margin-right: 24px;
 }
 .footer-form{
   margin-bottom: 96px;
 }
 .subscribe-btn{
   
 }
   .modal-window {
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%) scale(1);
       min-width: 408px;
       min-height: 584px;
       background-color: #FCFCFC;
       transform: translate(-50%, -50%) scale(1);
       border-radius: 4px;
       padding: 72px 25px 24px 23px;
   }

   .user-name-wrapper {
       width: 360px;
   }

   .user-info {
       width: 100%;
       height: 40px;
   }

   .backdrop-box {
       width: 360px;
   }

   .comment{
    width: 100%;
   }
 }

/* desktop */

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .main-page{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
        url(../images/hero.jpg);
        height: 600px;
    }
  
   .menu-contact {
       color: #434455;
       font-family: Roboto;
       font-size: 16px;
       font-style: normal;
       font-weight: 400;
       line-height: 1.5;
       letter-spacing: 0.02em;
       gap: 40px;
       display: flex;
       align-items: center;
   }
   .head-page-container {
       display: flex;
       justify-content:space-evenly;
       align-items: center;
        padding-right: 24px 15px 24px 15px;
        margin-left: auto;
        margin-right: auto;
        height: 72px;
        
   }
   .menu-contact-link {
       color: #434455;
       font-family: Roboto;
       font-size: 16px;
       font-style: normal;
       font-weight: 400;
       line-height: 1.5;
       letter-spacing: 0.02em;
       display: flex;
       padding: 24px 0 24px;
   }
   .menu-link {
       padding-bottom: 24px;
       padding-top: 24px;
       display: block;
       color: #2E2F42;
       font-family: Roboto;
       font-size: 16px;
       font-style: normal;
       font-weight: 500;
       line-height: 1.5;
       letter-spacing: 0.02em;
       transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   }

   .menu-link-first {
       position: relative;
       color: #404bbf;
   }
   .menu{
    margin-left: 76px;
   }

   .contact{
    display: flex;
   }

   .menu-link-first::after {
       content: "";
       width: 48px;
       height: 4px;
       border-radius: 2px;
       display: block;
       position: absolute;
       bottom: 20px;
      }

      

     @media screen and (min-resolution:192dpi),
        screen and (min-resolution:2dppx),
        screen and (min-device-pixel-ratio:2) {
        .main-page {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url(../images/adapt/desktop/bg@2x.jpg);
            }
                }

  .main-text{

    color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        max-width: 496px;
        margin-bottom: 48px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 188px;
}

.main-page-container{
    height: 600px;
}

}
      
   
    
  

 

  

